:root {
    --grey: #FAFBFF;
    --deep-grey: #9197B3;
    --black: #000000;
    --white: #FFFFFF;
	--blue: #5932EA;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
	font-size: 62.5%;

	body {
		font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
		background-color: var(--grey);
	}
}