:root {
    --grey: #DDE7F3;
    --black: #000000;
    --white: #FFFFFF;
	--blue: #1D4ED8;
	--red: #e90f30;
	--slate-one: #0f172a;
	--slate-two: #1b2a4c;
	--slate-three: #121F3D;
	--slate-four: #1F3466;
	--slate-five: #64748B;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
	font-size: 62.5%;

	body {
		font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
		background-color: var(--slate-one);
	}
}