@mixin font($mobile-font-size,
    $mobile-line-height,
    $tablet-font-size: $mobile-font-size,
    $tablet-line-height: $mobile-line-height,
    $desktop-font-size: $tablet-font-size,
    $desktop-line-height: $tablet-line-height) {
    font-size: $mobile-font-size;
    line-height: $mobile-line-height;

    @media screen and (min-width: $md) {
        font-size: $tablet-font-size;
        line-height: $tablet-line-height;
    }

    @media screen and (min-width: $lg) {
        font-size: $desktop-font-size;
        line-height: $desktop-line-height;
    }
}

@mixin gap($mobile-gap, $tablet-gap: $mobile-gap, $desktop-gap: $tablet-gap) {
    gap: $mobile-gap;

    @media screen and (min-width: $md) {
        gap: $tablet-gap;
    }

    @media screen and (min-width: $lg) {
        gap: $desktop-gap;
    }
}

$breakpoints: (
    'small': $sm,
    'medium': $md,
    'large': $lg) !default;

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "`#{$breakpoint}` does not exist in breakpoints: [#{map-keys($breakpoints)}]";
    }
}